apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
spec:
  template:
    spec:
      containers:
      - image: prachimittal2016/argocd-demo:1
        name: demo
        ports:
        - containerPort: 8080
