apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- ./deployment-patch.yaml

images:
- name: prachimittal2016/argocd-demo
  newTag: 5495cde8dac3cd005af27835c8b991e07fccb753
resources:
- ../../base
- ./namespace.yaml
