apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- ./deployment-patch.yaml

images:
- name: prachimittal2016/argocd-demo
  newTag: "6"
resources:
- ../../base
- ./ingress.yaml
